/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.blog {
  .site-content {
    .content-area {
      display: grid;
      grid-template-columns: 75% 25%;
      .site-main {
        padding: 20px 150px 10px 120px;
        .page-header {
          text-align: center;
          text-transform: uppercase;
        }
        .entry-header{
          position:relative;
          .entry-title a{
            position: absolute;
            font-family: Novecento Sans Web,sans-serif;
            top: 10%;
            left: 0%;
            color: #fff;
            background-color: #248a83;
            padding: 10px;
            max-width: 75%;
            text-decoration: none;
            font-size: 2.1rem;
            text-transform: uppercase;
          }
          .entry-meta{
            position: absolute;
            font-family: Novecento Sans Web,sans-serif;
            top:91%;
            left: 28.1%;
            color: #fff;
            background-color: #248a83;
            padding: 5px;
            width: 69%;
            font-size: 1rem;
          }
        }
        .entry-content{
          
          .social-button{
            display: none;
            font-family: Novecento Sans Web,sans-serif;
          }
          .read-all{
          font-family: Novecento Sans Web,sans-serif;
          font-size: 0.9rem;
          border: 1px solid #2f1339;
          background-color: transparent;
          text-transform: uppercase;
          text-decoration: none;
          color:#404040;
          text-align: center;
          padding: 10px 20px;
          }
          .read-all:hover{
          background-color: #248a83;
          border-color: transparent;
          color:#fff;
          }
        }
      }
    }
  }
}
.single-post{
  .site-main {
    padding: 20px 150px 10px 120px;
    .page-header {
      text-align: center;
      text-transform: uppercase;
    }
    .entry-header{
      position:relative;
      .entry-title a{
        position: absolute;
        font-family: Novecento Sans Web,sans-serif;
        top: 10%;
        left: 0%;
        color: #fff;
        background-color: #248a83;
        padding: 10px;
        max-width: 75%;
        text-decoration: none;
        text-align:flex-start;
        font-size: 2.1rem;
        text-transform: uppercase;
      }
      .entry-meta{
        font-family: Novecento Sans Web,sans-serif;
        position: absolute;
        top:91%;
        left: 30.1%;
        color: #fff;
        background-color: #248a83;
        padding: 5px;
        width: 67%;
        font-size: 1rem;
      }
    }
    .entry-content{
      .read-all{
        display:none;
      }
      .social-button{
        button{
          font-family: Novecento Sans Web,sans-serif;
          font-size: 0.9rem;
          border: 1px solid #2f1339;
          background-color: transparent;
          text-transform: uppercase;
          color:#2f1339;
          text-align: center;
          padding: 15px 20px;
        }
        button:hover {
          background-color: #248a83;
          border-color: transparent;
          color:#fff;
        }
      }
    }
    .comments-area{
      .comments-title{
        font-size:2.1rem;
        font-family: Novecento Sans Web,sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color:#2f1339;
      }
      .comment-list{
        border-bottom: 1px solid #a1a1a1;
        padding-bottom:10px;
        .comment-body{
          display:flex;
          flex-direction:row;
          .comment-author-avatar{
            .avatar{
            border-radius:30px;
            }
          }
          .comment-content{
            line-height: 1.75rem;
            padding-left:20px;
            font-size:1rem;
            .comment-meta{
              .fn{
                color: #2f1339;
              }
              .comment-metadata{
                color:#808080;
                a{
                  text-decoration:none;
                  color:#248a83;
                }
              }
            }
            .reply a{
              text-decoration:none;
              color:#248a83;
            }
          }
        }
      }
      .comment-respond{
        h3{
          font-family: Novecento Sans Web,sans-serif;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-size:1.8rem;
        }
        .comment-form{
          .logged-in-as a{
            color:#248a83;
            text-decoration: none;
          }
          .logged-in-as a:hover{
            color:#2f1339;
            text-decoration: underline;
          }
          p{
            color: #2f1339;
          }
          p input,
          p textarea{
            background-color: #f4f4f4;
            border: 1px solid #e1e1e1;
            border-radius:0px;
          }
          .comment-form-author,
          .comment-form-email{
            width:49.5%;
            display: inline-block;
          }
          .comment-form-url {
            width: 50%;
          }
          p label{
            font-family: Novecento Sans Web,sans-serif;
            font-size: 1.1rem;
            text-transform: uppercase;
            .required{
              color:#d99054;
            }
          }
          .form-submit input{
            font-family: Novecento Sans Web,sans-serif;
            font-size:0.9rem;
            padding: 15px 25px;
            letter-spacing: 1px;
            margin: 5px;
            background-color: #248a83;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
          }
          .form-submit input:hover{
            background-color: #005752;
          }
        }
      }
    }
  }
}
.home {
  .site-main {
    .banner {
      background: url(../../images/home-hero.jpg) no-repeat;
      padding-top: 60px;
      margin-bottom: 50px;
      text-align: center;
      background-size: cover, cover;
      width: 100%;
      height: 100vh;
    }
    .shop {
      text-align: center;
      h1 {
        text-transform: uppercase;
        color: #2f1339;
        font-size: 2.4rem;
        font-family: Novecento Sans Web,sans-serif;
      }
      .shop-menu {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 50px;
        .each-type {
          border: 1px solid #a1a1a1;
          border-top: 5px solid #a1a1a1;
          width: 275px;
          height: 300px;
          margin: 0px 10px;
          flex-direction: column;
          padding: 10px 10px;
          &:hover {
            color: #d99054;
            border: 1px solid #d99054;
            border-top: 5px solid #d99054;
          }
          img {
            width: 100px;
            height: 100px;
          }
          a {
            padding: 10px;
            margin: 5px;
            background-color: #248a83;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            font-family: Novecento Sans Web,sans-serif;
          }
          a:hover {
            background-color: #005752;
          }
        }
      }
    }
    .journal {
      .journal-posts {
        h1 {
          text-align: center;
          text-transform: uppercase;
          color: #2f1339;
          font-size: 2.4rem;
          margin: 50px;
          font-family: Novecento Sans Web,sans-serif;
        }
        .list-last-articles {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .last-article {
            margin: 5px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 350px;
            height: auto;
            border: 1px solid #a1a1a1;
            img {
              height: 250px;
              border-bottom: 3px solid #a1a1a1;
            }
            .date-comment {
              color: #2f1339;
              padding: 0px 10px;
              font-size: 0.75rem;
            }
            .entry-title{
              margin:5px 5px;
              .title{
                color: #248a83;
                font-size: 1.3rem;
                text-decoration: none;
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
              }
              .title:hover {
                color: #2f1339;
              }
            }
            .read-more{
              text-align: center;
              margin: 10px 10px;
              border: 1px solid #2f1339;
              text-transform: uppercase;
              color: #2f1339;
              font-size: 16px;
              text-decoration: none;
              float: left;
              width: 150px;
              padding-top: 7px;
              height: 40px;
              font-family: Novecento Sans Web,sans-serif;
            }
            .read-more:hover {
              background-color: #248a83;
              border: 1px solid transparent;
              color: #fff;
            }
          }
        }
      }
    }
    .container {
      width: 1120px;
      margin: auto;
    }
    .adventures {
      h1 {
        text-align: center;
        text-transform: uppercase;
        color: #2f1339;
        font-size: 2.4rem;
        margin: 50px;
        font-family: Novecento Sans Web,sans-serif;
        letter-spacing:2px;
      }
      .more {
        display: block;
        background-color: #248a83;
        border: 1px solid transparent;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        width: 200px;
        padding: 10px;
        margin: 40px 0px;
        font-family: Novecento Sans Web,sans-serif;
      }
      .more:hover {
        background-color: #005752;
        border: 1px solid transparent;
        color: #fff;
      }
      .lastest-stories {
        height: 550px;
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-areas:
          'main header header'
          'main left right';
        .canoe-story {
          font-size: 3rem;
          padding-left: 25px;
          grid-area: main;
          background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            url(../../images/adventure-photos/canoe-girl.jpg) no-repeat;
          background-size: cover;
          color: #fff;
        }
        .beach-story {
          grid-area: header;
          font-size: 2.4rem;
          padding-left: 25px;
          background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            url(../../images/adventure-photos/beach-bonfire.jpg) no-repeat;
          color: #fff;
          background-size: cover;
        }
        .mountain-story {
          grid-area: left;
          font-size: 1.6rem;
          padding-left: 25px;
          background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            url(../../images/adventure-photos/mountain-hikers.jpg) no-repeat;
          color: #fff;
          background-size: cover;
        }
        .sky-story {
          grid-area: right;
          font-size: 1.6rem;
          padding-left: 25px;
          background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
            url(../../images/adventure-photos/night-sky.jpg) no-repeat;
          color: #fff;
          background-size: cover;
        }
        .story {
          font-size: 0.9rem;
          border: 1px solid #fff;
          background-color: transparent;
          text-transform: uppercase;
          color: #fff;
          font-size: 16px;
          text-decoration: none;
          text-align: center;
          width: 150px;
          padding: 10px;
          height: 40px;
          font-family: Novecento Sans Web,sans-serif;
        }
        .story:hover {
          background-color: #248a83;
          border-color: transparent;
        }
      }
    }
  }
}
.date {
  .site-content {
    display: grid;
    grid-template-columns: 75% 25%;
    .content-area {
      .site-main {
        padding: 20px 150px 10px 120px;
        .page-header {
          text-transform: uppercase;
          font-family: Novecento Sans Web,sans-serif;
          border-bottom: 1px solid #e1e1e1;
          margin-bottom:20px;
          font-size:1.2rem;
        }
        .entry-header{
          position:relative;
          .entry-title a{
            position: absolute;
            font-family: Novecento Sans Web,sans-serif;
            top: 10%;
            left: 0%;
            color: #fff;
            background-color: #248a83;
            padding: 10px;
            max-width: 75%;
            text-decoration: none;
            font-size: 2.1rem;
            text-transform: uppercase;
          }
          .entry-meta{
            position: absolute;
            font-family: Novecento Sans Web,sans-serif;
            top:91%;
            left: 28.1%;
            color: #fff;
            background-color: #248a83;
            padding: 5px;
            width: 69%;
            font-size: 1rem;
          }
        }
        .entry-content{
          
          .social-button{
            display: none;
            font-family: Novecento Sans Web,sans-serif;
          }
          .read-all{
          font-family: Novecento Sans Web,sans-serif;
          font-size: 0.9rem;
          border: 1px solid #2f1339;
          background-color: transparent;
          text-transform: uppercase;
          text-decoration: none;
          color:#2f1339;
          text-align: center;
          padding: 10px 20px;
          }
          .read-all:hover{
          background-color: #248a83;
          border-color: transparent;
          color:#fff;
          }
        }
      }
    }
  }
}
.search{
  .site-content {
    .content-area {
      display: grid;
    grid-template-columns: 75% 25%;
      .site-main {
        padding: 20px 150px 100px 120px;
        .page-header {
          text-transform: uppercase;
          font-family: Novecento Sans Web,sans-serif;
          border-bottom: 1px solid #e1e1e1;
          margin-bottom:20px;
          font-size:1.6rem;
        }
        .post-56{
          .entry-summary{
            .read-search{
              display: none;
            }
          }
        }
        .entry-header{
          .entry-title a{
            color: #248a83;
            padding: 10px;
            text-decoration: none;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: Novecento Sans Web,sans-serif;
          }
        }
        .entry-summary{
          .read-search{
            font-family: Novecento Sans Web,sans-serif;
            font-size: 0.9rem;
            border: 1px solid #2f1339;
            background-color: transparent;
            text-transform: uppercase;
            text-decoration: none;
            color:#2f1339;
            text-align: center;
            padding: 10px 20px;
            }
            .read-search:hover{
            background-color: #248a83;
            border-color: transparent;
            color:#fff;
            }
        }
      }
    }
  }
}
.post-type-archive {
  .site-content {
    .content-area {
      .site-main {
        .page-header {
          text-align: center;
          text-transform: uppercase;
          font-family: Novecento Sans Web,sans-serif;
        }
        .products {
          text-align: center;
          padding: 5px;
          font-family: Novecento Sans Web,sans-serif;
          font-size:1.2rem;
        }
        .products div a {
          text-decoration: none;
          text-transform: uppercase;
          color: #248a83;
          padding: 10px;
        }
        .products div a:hover {
          color: #2f1339;
        }
        .product-grid {
          display: grid;
          border-top: 1px dashed #a1a1a1;
          grid-template-rows: 25% 25% 25% 25%;
          grid-template-columns: 25% 25% 25% 25%;
          margin-top: 20px;
          padding: 30px;
          .product {
            margin: 20px;
            height: 300px;
            border: 2px solid #e1e1e1;
            .entry-header {
              position: relative;
              img {
                height: 250px;
                border-bottom: 3px solid #e1e1e1;
              }
            }
            .intro-product {
              overflow-x: hidden;
              &:before {
                white-space: nowrap;
                float: left;
                width: 0;
                content: '...................................................';
              }
              .entry-title {
                color: #2f1339;
                font-size: 1rem;
                padding-left: 0.8rem;
                padding-right:0.1rem;
                background: white;
                display: inline;
              }
              span {
                font-size: 0.9rem;
                padding-top:0.1rem;
                padding-right: 0.9rem;
                padding-left:0.1rem;
                background: white;
                float:right;
        
              }
            }
          }
      }
    }
  }
}
}

.tax-product_type {
  .site-content{
    .site-main {
      .page-header {
        padding: 20px;
        text-align: center;
        color: #2f1339;
          .page-title {
            text-transform: uppercase;
            font-family: Novecento Sans Web,sans-serif;
          }
      }
      .tax-products {
        margin-bottom:40px;
        margin-left:50px;
        margin-right:50px;
        padding-top:30px;
        display: flex;
        border-top: 1px dashed #a1a1a1;
        color: #2f1339;
          .product {
            margin: 10px;
            height: 300px;
            border: 2px solid #e1e1e1;
            .entry-header {
              position: relative;
              img {
                height: 250px;
                border-bottom: 3px solid #e1e1e1;
              }
            }
            .intro-product {
              overflow-x: hidden;
              &:before {
                white-space: nowrap;
                float: left;
                width: 0;
                content: '...................................................';
              }
              .entry-title {
                color: #2f1339;
                font-size: 1rem;
                padding-left: 0.8rem;
                padding-right:0.1rem;
                background: white;
                display: inline;
        
              }
              span {
                font-size: 0.9rem;
                padding-top:0.1rem;
                padding-right: 0.9rem;
                padding-left:0.1rem;
                background: white;
                float:right;
        
              }
            }
          }
        }
      }
    }
}
  .product-template-default {
    .product {
      margin: 10px;
      padding-top:40px;
      display: flex;
      flex-direction: row;
      .entry-header {
        margin:20px;
        flex:1;
      }
      .entry-content{
        padding:0px 30px 0px 10px;
        flex:1;
        .entry-title {
          text-decoration: none;
          text-transform: uppercase;
          color: #d99054;
          font-size: 2.4rem;
          font-family: Novecento Sans Web,sans-serif;
        }
        .price{
          font-size:1.8rem;
          text-transform: uppercase;
          margin-bottom: 10px;
          font-family: Novecento Sans Web,sans-serif;
        }
        .EN-US{
          display: flex;
          flex-wrap: wrap;
          font-size:1rem;
          line-height: 1.75rem;
          margin: 5px 30px;
        }
        .social-button{
          button{
            font-size: 0.9rem;
            border: 1px solid #2f1339;
            background-color: transparent;
            text-transform: uppercase;
            color:#2f1339;
            text-align: center;
            padding: 15px 20px;
            font-family: Novecento Sans Web,sans-serif;
          }
          button:hover {
            background-color: #248a83;
            border-color: transparent;
            color:#fff;
          }
        }
      }
      
    }
  }

.page-id-56,
.single-post {
  .content-area {
    display: grid;
    grid-template-columns: 75% 25%;
    .site-main {
      padding: 20px 150px 10px 120px;
    }
  }
}
.page-id-56{
  .site-main{
    .page-header h1{
      font-family: Novecento Sans Web,sans-serif;
      text-transform:uppercase;
      font-size:2.4rem;
    }
    .post-56{
      .entry-content{
        h2{
          color: #2f1339;
          font-size: 2.1rem;
          font-family: Novecento Sans Web,sans-serif;
          text-transform: uppercase;
        }
        .wpcf7-form{
          p label{
            text-transform: uppercase; 
            font-family: Novecento Sans Web,sans-serif;
            font-size: 1.1rem;
            span{
              color: #d99054;
            }
            textarea,
            input{
              border-radius: 0;
              border: 1px solid #e1e1e1;
              background-color: #f4f4f4;
            }
          }
          p .wpcf7-submit{
            font-family: Novecento Sans Web,sans-serif;
            font-size:0.9rem;
            padding: 15px 25px;
            letter-spacing: 1px;
            margin: 5px;
            background-color: #248a83;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
          }
          p .wpcf7-submit:hover{
            background-color: #005752;
          }
        }
      }
    }
  }
}
.page-id-54{
  .post-54{
    .entry-header{
      width:auto;
      height: 100vh;
      position:relative;
      .entry-title{
        color:white;
        font-size:3rem;
        text-transform: uppercase;
        font-family: Novecento Sans Web,sans-serif;
      }
    }
    h2{
      text-align:center;
      color: #2f1339;
      text-transform: uppercase;
      font-size:2.1rem;
      font-family: Novecento Sans Web,sans-serif;
    }
    p{
      margin-left: auto;
      margin-right: auto;
      font-size:1rem;
      max-width: 800px;
      line-height:1.75;
    }
  }
}
.widget-area{
  .widget-title{
    font-size:1.5rem;
    font-family: Novecento Sans Web,sans-serif;
    text-transform:uppercase;
  }
  .widget_text{
    line-height: 1.75;
    .textwidget a{
      text-decoration:none;
      color:#248a83;
    }
    .textwidget a:hover{
      color:#2f1339;
    } 
  }
  .widget_archive{
    ul li{
    list-style-type: none;
      a{
        text-decoration: none;
        color:#248a83;
      }
      a:hover{
        color:#2f1339;
      }
    }
  }
}
.error404{
  .site-content {
    .content-area {
      .site-main{
        display: grid;
        grid-template-columns: 75% 25%;
        .error-404{
          padding: 20px 150px 100px 120px;
          .page-header {
            text-transform: uppercase;
            font-family: Novecento Sans Web,sans-serif;
            margin-bottom:20px;
            font-size:1.6rem;
            color:#2f1339;
          }
          
          .page-content{
            .search-form{
              span{
                display: none;
              }
              .search-field{
                border-radius: 0px;
                border: 1px solid #e1e1e1;
                background-color: #f4f4f4;

              }
            }
            .widget_recent_entries{
              line-height: 1.75;
              margin-bottom: 30px;
              h2{
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
                color:#2f1339;
              }
              ul li{
                list-style-type: none;
                  a{
                    text-decoration: none;
                    color:#248a83;
                  }
              }
            }
            .widget_categories{
              line-height: 1.75;
              margin-bottom: 30px;
              h2{
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
                color:#2f1339;
              }
              ul li{
                list-style-type: none;
                  a{
                    text-decoration: none;
                    color:#248a83;
                  }
              }
            }
            .widget_archive{
              line-height: 1.75;
              margin-bottom: 30px;
              h2{
                font-family: Novecento Sans Web,sans-serif;
                text-transform: uppercase;
                color:#2f1339;
              }
            }
           }
          }
      }
    }
  }
}