footer {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.75;
  background-image: url(../../images/dark-wood.png);
  height: 50%;
  .general-info{
    margin-left:150px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  h3 {
    color: #d99054;
    text-transform: uppercase;
  }
  .site-info,
  .site-hours {
    margin-right: 60px;
  }
  .image{
    margin-left:70px;
    height:200px;
  img{
    position: relative;
    margin-left:100px;
    width: 250px;
    height:200px;
  }
  }
}
}
.copyright {
  text-align: center;
  
}
