.home{
header {
  display: flex;
  position: absolute;
  margin: 10px 50px;
  background-color: transparent;
  .logo-image{
    width: 50px;
  }
  .main-navigation{
  .search{
    
    border-color: transparent;
  }
  .menu-menu-1-container li a{
    text-transform: uppercase;
    color:white;
    padding:10px;
    text-shadow: 2px 2px black;
    
  }


  }
}
}
.archive{
    .site-header {
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: row;
      margin: 10px;
      background-color: transparent;
      justify-items: space-between;
      .logo-image{
        width: 70px;
        margin-left: 100px;
        margin-right: 100px;
      }
      .main-navigation{
      .search{
        border-color: transparent;
        .search-field{
          border: none;
        }
      }
      .menu-menu-1-container li a{
        text-transform: uppercase;
        color:#248A83;
        padding:10px; 
      }
      }
    }
}