.home{
header {
  display: flex;
  position: absolute;
  margin: 10px 50px;
  background-color: transparent;
  .logo-image{
    width: 70px;
    height: 70px;
  }
  .main-navigation{
  .search{
    text-align: end;
    border-color: transparent;
  }
  .menu-menu-1-container li a{
    text-transform: uppercase;
    color:white;
    padding:10px;
    text-shadow: 2px 2px black;
    
  }


  }
}
}
header {
  
  margin: 10px 50px;
  background-color: transparent;
  .logo-image{
    width: 70px;
    height: 70px;
  }
  .main-navigation{
  .search{
    text-align: end;
    border-color: transparent;
  }
  .menu-menu-1-container li a{
    text-transform: uppercase;
    color:#248A83;
    padding:10px;
    
  }


  }
}