/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.eot');
    src: url('Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic.woff') format('woff'),
        url('Merriweather-LightItalic.ttf') format('truetype'),
        url('Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: '.';
    src: url('221ce834644528f3587a10585267939f.eot');
    src: url('221ce834644528f3587a10585267939f.eot?#iefix') format('embedded-opentype'),
        url('221ce834644528f3587a10585267939f.woff') format('woff'),
        url('221ce834644528f3587a10585267939f.ttf') format('truetype'),
        url('221ce834644528f3587a10585267939f.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot');
    src: url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic.woff') format('woff'),
        url('Merriweather-BoldItalic.ttf') format('truetype'),
        url('Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: '.';
    src: url('e81d9197b848eda92cf94ac4b2dc7578.eot');
    src: url('e81d9197b848eda92cf94ac4b2dc7578.eot?#iefix') format('embedded-opentype'),
        url('e81d9197b848eda92cf94ac4b2dc7578.woff') format('woff'),
        url('e81d9197b848eda92cf94ac4b2dc7578.ttf') format('truetype'),
        url('e81d9197b848eda92cf94ac4b2dc7578.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.eot');
    src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype'),
        url('Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


